<% if !@soapps_repos.nil? %>
  <% @soapps_repos.each do |repo| %>
		<div class="card-repo">
			<h2>REPO</h2>
      <p><%= link_to repo.name , repo_path(repo.id) %></p>
      <h4>LAST COMMITS</h4>
      <hr>
      <ul class="branch_list">
        <% repo.commits.last(6).each do |commit| %>
          <li>
            <%= image_tag(@user.avatar_url) %>
            <span><%= link_to commit.message, repo_path(repo) %></span>
          </li>
        <% end %>
      </ul>
      <%= flash[:notice] %>
    </div>
  <% end %>
<% end %>

