<div class="card-repos">
  <% if !@soapps_repos.nil? %>
    <% @soapps_repos.each do |repo| %>
      <h4><%= link_to repo.name , repo_path(repo.id)  %></h4>
      <hr>
      <ul class="branch_list">
        <li>BRANCH MERP</li>
      </ul>
    <% end %>
  <% end %>
</div>
