<div class="all_repos">
  <div class="repositories">
    <%= link_to "back" , repos_path, class: "btn-back" %>
    <div class="content-repo">
      <%= render "heat_map" %>
      <%= render "warning_card" %>
      <%= render "non_user_commits" %>


    </div>
  </div>
</div>
