<div class="card-repo">
  <%= image_tag(@user.avatar_url) %>
  <h3>WELCOME BACK <%= @user.name.upcase %>!</h3>

  <div class="content-commits">
    <h4>MY LAST COMMITS</h4>
    <hr>
    <ul>
<!--
    <% if !@soapps_repos.nil? %>
      <% @soapps_repos.each do |repo| %>
        <li class="repo-button"><%= repo.name %></li>
        <ul class="branch_list">
          <li>BRANCH MERP</li>
        </ul>
      <% end %>
    <% end %>
  -->
    </ul>
  </div>
</div>
