

<h1>Soapp Repositories:</h1>
<ul>
  <% if !@soapps_repos.nil? %>
    <% @soapps_repos.each do |repo| %>
      <li><%= link_to "#{repo.name}", repos_path(repo)%></li>
    <% end %>
  <% end %>
</ul>
