<%=link_to "New", new_repo_path %>

<h1>Soapp Repositories:</h1>
<ul>
  <div class="repositories">
  <% if !@soapps_repos.nil? %>
      <% @soapps_repos.each do |repo| %>
        <button class="repo-button"><%= repo.name %></button>
        <ul class="branch_list">
          <li>BRANCH MERP</li>
        </ul>
      <% end %>
  </div>
  <% end %>
</ul>
