.bar-box-blue {
  height: 7px;
  width: 7px;
  background-color: #00D2D3;
  margin:2px;
  padding: 2px;
  display: inline-block;
}
.bar-box-red {
  height: 8px;
  width: 8px;
  background-color: #F07D5A;
  margin:2px;
  padding: 2px;
  display: inline-block;
}
.bar-box-bad-red {
  height: 9px;
  width: 9px;
  background-color: red;
  margin:2px;
  padding: 2px;
  display: inline-block;
}

#heat-map-card {
  background-color: #F8C7AD;
}
#heat-map-card h2 {
  color: #C33A1A;
  font-style: bold;
}
#heat-map-card:hover{
  font-style: bold;
}
.time_hover{
  text-align: left;
  opacity: .5;
}
#warning-card {
  background-color: #FFECB6;
  font-style: bold;
}
#warning-card h2 {
  color: #E0854B;
  font-style: bold;
}
#warning-card:hover{

  font-style: bold;
  background-color: #FFECB6;
}
nav li {
  padding-left: 30px;
}
