.bar-box-green {
  height: 8px;
  width: 8px;
  background-color: green;
  margin:2px;
  padding: 2px;
  display: inline-block;
}
.bar-box-red {
  height: 8px;
  width: 8px;
  background-color: red;
  margin:2px;
  padding: 2px;
  display: inline-block;
}
.bar-box-blue {
  height: 8px;
  width: 8px;
  background-color: #00D2D3;
  margin:2px;
  padding: 2px;
  display: inline-block;
}
