@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  // background-color: #E7F5ED;
}
li {
  list-style: none;
}
a, a:visited {
  text-decoration: none;
  color: #777;
}

hr {
  color: #CCC;
  background-color: #CCC;
  height: 1px;
}

header {
  width: 100%;
  height: 30px;
  background-color: #35C97A;
  display: block;

  font-size: 0.9em;
  .logo {
    float: left;
    line-height: 30px;
    a{
      color: #fff;
      line-height: 30px;
      padding: 20px;
    }
    a:hover {
      color: #CCC;
    }
  }
  nav {
    float: right;
    width: 30%;
    background-color: #fff;

    ul {
      margin: 0;
      a {
        color: #777;
        line-height: 30px;
      }
    }
  }
}

.intro {
  width: 100%;
  max-height: 100px;
  .intro-title{
    margin: 0 3%;
    h3 {
      margin-bottom: 0;
      font-size: 0.8em;
    }
    p{
      margin-top: 0;
      color: #777;
      font-size: 0.8em;
    }
  }
  .intro-video {
    position: relative;
    img {
      position: relative;
      max-width: 100%;
    }
    .little-description {
      position: absolute;
      width: 50%;
      bottom: 0;
      padding: 2%;

      color: #888;
      background-color: #fff;
      padding-left: 4%;
    }
  }

}
.intro-text {
      padding: 6%;
      color: #888;
      font-size: 0.9em;
      ul {
        margin-top: 20%;
        padding: 0;
        width: 100%;
        li {
          position: relative;
          width: 50%;
          text-align: center;

          float: left;
          a {
            padding: 10px 30%;
            background-color: #35C97A;
            color: #fff;
            margin: 0 auto;
          }
          a:hover {
            background-color: #3CE38A;
          }
          a:visited {
            color: #fff;
          }
        }
      }

    }

.repositories {
  width: 100%;
  padding: 5%;
  .new-repo {
    font-weight: 600;
    width: 100%;
    margin-bottom: 5%;
    a{
      font-size: 1.4em;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    p {
      padding: 0;
      margin: 0;
      font-size: 0.8em;
      color: #3CE38A;
      top: -5px;
    }
    .display-repos {
      display: none;
    }
  }
  .content-repo {
    width: 100%;
    float: right;
    .card-repo {
      padding: 20px;
      
      height: 60vh;
      background: #E7F5ED;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
      float: left;
      width: 40%;
      margin: 5px;
      h4 {
        color: #555;
        padding-bottom: 0;
        margin-top: 5px; 
        margin-bottom: 0;
      }
      img {
        margin-right: 5%;
        width: 80px;
        height: 80px;
        float: left;
        border-radius: 40px;
      }
      h2{
        margin: 0;
        padding: 0;
      }
      p {
        margin: 0;
        padding: 0;
        font-size: 0.8em;
      }
      .branch_list {
        width: 100%;
        li {
          float: none;
          height: 70px;

          img {
            width: 50px;
            height: 50px;
            border-radius : 25px;
          }
          span {
            overflow-x: hidden;
            overflow-y: hidden;     
            line-height: 50px;
          }
        }
        
      }
    }
  }
  .content-commits{
    h4 {
      color: #35C97A;
      margin-bottom: 0;
    }
    ul{
      margin: 0;
      padding: 0;
    }
  }
  .branch_list {
    // display: none;
    margin: 0;
    padding: 0;
  }
}
