@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #1C1F1F;
}
li {
  list-style: none;
}
a, a:visited {
  text-decoration: none;
  color: #777;
}

hr {
  color: #CCC;
  background-color: #CCC;
  height: 1px;
}

select {
  width:390px;
  overflow: hidden;
  background: #F8F8F8;
  border: 1px solid #DDDDDD;
  height: 30px;
  // border-radius:2px;
  font-size: 1.4em;
}
input[type=submit] {
  padding:5px 15px;
  background:#00D2D3;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.1em;
  color: #fff;
  margin-top: 5px;
}
input[type=submit]:hover{
  color: #1C1F1F;
}

header {
  width: 100%;
  min-width: 320px;
  height: 40px;
  background-color: #00D2D3;
  display: block;
  font-size: 1.1em;


  .logo {
    float: left;
    line-height: 40px;
    font-size: 1.6em;
    a{
      font-weight: 600;
      color: #fff;
      line-height: 30px;
      padding: 20px;
    }
    a:hover {
      color: #1C1F1F;
    }
  }
  nav {
    float: right;
    width: 66%;
    color: white;


    ul {
      float: right;
      margin: 0;
      margin-right: 5px;
      padding: 0;


      li{
        display: inline-block;
        margin: 0 5px;

        a {
          color: white;
          line-height: 40px;

        }
        a:hover {
          color: #1C1F1F;
        }

      }
    }
  }
}

.intro {
  width: 100%;
  // max-height: 100px;
  font-size: 2em;
  .intro-title{
  }
  .intro-video {
    position: relative;
    img {
      position: relative;
      max-width: 100%;
    }
    .little-description {
      position: relative;
      width: auto;
      bottom: 0;
      padding: 1%;
      font-weight: 600;
      color: #1C1F1F;
      background-color: #fff;
      padding-left: 4%;
    }
  }

}
.intro-text {
  padding: 6%;
  color: #fff;
  font-size: 0.8em;
  ul {
    margin-top: 10%;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
    li {
      position: relative;
      width: 45%;
      text-align: center;
      background-color: #00D2D3;
      margin: 2px;
      padding: 10px 0;


      float: left;
      a {
        color: #fff;
        margin: 0 auto;
      }
      a:hover {
        color: #1C1F1F;
      }
      a:visited {
        color: #fff;
      }
    }
  }

}

.repositories {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2%;

  .btn-back {
    display: block;
    width: 35px;
    color: #fff;
    border: 1px solid;
    padding: 5px 10px;
    margin-bottom: 15px;
  }
  .btn-back:hover{
    color: #00D2D3;
  }
  .new-repo {
    font-weight: 600;
    width: 100%;
    margin-bottom: 2%;
    a{
      font-size: 1.4em;
      padding-bottom: 0;
      margin-bottom: 0;
      color: #fff;
    }
    a:hover {
      color: #00D2D3;
    }
    p {
      font-size: 1.0em;
      padding: 0;
      margin: 0;
      color: #00D2D3;
      top: -5px;
    }
    .display-repos {
      display: none;
      color: #DDD;
    }

    .download_button {
      float: right;
      font-size: 1em;
      margin-right: 3%;

    }
  }
  .content-repo {
    width: 100%;
    float: right;
    // text-wrap: unrestricted;
    .card-repo {
      position: relative;
      padding: 20px;


      background: #e8e8e8;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
      float: left;

      width: 350px;
      height: 600px;
      margin: 5px 10px 5px 0;

      a:hover {
        color: #00D2D3;
      }

      .btn-delete, .btn-delete:visited {
        font-weight: 600;
        position: absolute;
        right: 0;
        top: -10px;
        padding: 30px;
        color: #1C1F1F;
      }
      .btn-delete:hover {
        color: #00D2D3;
      }
      h4 {
        color: #555;
        padding-bottom: 0;
        margin-top: 5px;
        margin-bottom: 0;
      }
      img {
        margin-right: 5%;
        width: 80px;
        height: 80px;
        float: left;
        border-radius: 40px;
      }
      h2{
        margin: 0;
        padding: 0;
      }
      p {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        font-size: 0.8em;
      }

      .github {

        margin: 0;
        padding: 0;
        font-size: 0.8em;
        width: 100%;
        a {
          line-height: 25px;
        }
        .git_logo_link {
          overflow-x: hidden;
          display: block;
          width: 320px;
        }
        img {
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }

      }
      .branch_list {
        width: 100%;
        li {
          float: none;
          height: 70px;
          margin-bottom: 3px;
          a {
            color: #333;
          }
          span a:hover {
            color: #00D2D3;
          }
          p {
            color: #888;
          }
          img {
            width: 50px;
            height: 50px;
            border-radius : 25px;
            margin-bottom: 10px;
          }
          span {
            overflow-x: hidden;
            overflow-y: hidden;

          }
        }
      }
      .more-info, .more-info:visited {
        font-weight: 600;
        position: absolute;
        right: 0;
        bottom: 0px;
        padding: 10px;
        color: #1C1F1F;
        // border: 2px solid;
        margin: 10px;
      }
      .more-info:hover {
        color: #00D2D3;
      }
    }
  }

  .branch_list {
    // display: none;
    margin: 0;
    padding: 0;

  }
}

.git_logo {
  background-color:#60D2D3;
  width: 25px;
  height: 25px;
}
.git_logo:hover{
  background-color:#E1FEFF;
}
.repo-list-options{
  font-size: .9em;
}


@media only screen and (max-width : 400px) {
  .repositories{
    margin: 0;
    padding: 0;
    width: 100%;
    .content-repo {
      .card-repo {
        width: auto;
        margin-right: 0;
        float: none;
      }
    }
  }
  .intro .intro-text li a {
    padding: 0;
  }

}
@media only screen and (max-width : 510px) {
  header{
    font-size: 0.8em;
    li{
      padding-left: 0;
    }
  }
  .intro {
    font-size: 1.4em;
    .intro-text a {
      padding : 5px 15%;
    }
  }
  .download_button {
    display: none;
  }
  .repositories{
    // padding: 0;
    // margin: 0;
  }
}

@media only screen and (min-width : 400px) {
  .repositories{
    max-width: 350px;
  }
  .download_button {
    float: right;
    text-align: right;
  }
}

@media only screen and (min-width : 800px) {
  .repositories{
    max-width: 800px;
  }
}

@media only screen and (min-width : 1201px) {
  .repositories{
    max-width: 1200px;
  }
}

.branch_list h3 {
    overflow: scroll;
}


