<div class="intro">
  <div class="intro-title">
    <h3>Lorem ipsum dolor sit amet, duo ex porro velit singulis</h3>
    <p>veri tibique an has</p>
  </div>
  <div class="intro-video">
    <%= image_tag("Business-woman.jpg") %>
    <div class="little-description">dolor sit amet</div>
  </div>
  <div class="intro-text">
    <p>Lorem ipsum dolor sit amet, duo ex porro velit singulis, at sea vero salutandi. Nec tritani corrumpit no, prima suscipit sit ea, veri tibique an has.</p>
    <ul>
      <li><%= link_to 'REPOS', repos_path %></li>
      <li><%= link_to 'ACTIVATE', root_path %></li>
    </ul>
  </div>

</div>
