<div class="intro">
  <div class="intro-title">

    <br><br><br>
  </div>
  <div class="intro-video">
    <div class="little-description">Whats the state of your app?</div>
  </div>
  <div class="intro-text">
    <p>State of the App is a great way for teams to view eachothers progress on a repository before it is even pushed to GitHub.</p>
    <p>For a more synchronized work flow, users are able to attach a web hook to their local repository that will send every local commit and edit to SOAPP for team members to view.</p>
    <p>Implementing SOAPP will evade potential merge conflicts and reduce an overlap in work.</p>
    <ul>
      <li><%= link_to 'REPOS', repos_path %></li>
      <li><%= link_to 'INSTRUCTIONS', instructions_path %></li>
    </ul>
  </div>

</div>
